.checked {
    text-decoration: line-through !important;
    color: rgb(170, 170, 170) !important;
}

.checked .fa-circle-check {
    color: #0b0
}

#message {
    display: flex;
    align-items: center;
    font-size: .9rem;
    height: .5rem;
    line-height: .5rem;
    vertical-align: middle;
    visibility: hidden;
}